@font-face {
    font-family: 'Brydan';
    src: url(fonts/Bryndan\ Write\ Book.ttf);
}
@font-face {
    font-family: 'Book';
    src: url(fonts/Shuneet3\ Thin\ Regular.ttf);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Brydan';
}
/* Colors */
.blue{ background: #6bd8dd;}
.light-blue{background: #F2FAFF;}
.mid-blue{background: #87D5DB}
.gold{background: #F6D757;}
.lilac{background: #99A7D5;}
.pink{background: #FAB3AD;}
.green{background: #ABC754}
.white{background: white;}
.light-pink{background: #FFF3EE;}

.--dark-blue{color: #0F676E;}
.--blue{ color: #6bd8dd;}
.--mid-blue{color: #51A8B7;}
.--light-blue{color:#87D5DB;
    ;}

.--gold{color: #F6D757;}
.--lilac{color: #99A7D5;}
.--pink{color: #FAB3AD;}
.--green{color: #ABC754;}
.--orange{color: #FFBE76;}
.--white{color: white;}



/* Modifiers */
.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flex-column--center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.flex-column--reversed{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}
.flex--reversed{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.short{
    width: 80%;
}
.big3{
    font-size: 2rem;
}
.big1{
    font-size: 1.5rem;
}
/* -------------------Header------------------ */
header{
    width: 100%;
    height: 5rem;
}
.header__nav{
    width: 100%;
    height: 5rem;
}
/* Header left content */
.nav__leftContent{
    width: 45%;
    justify-content: left;
    height: 6rem;
    width: 6rem;
}
.leftContent__imgWrapper{
    background-color: white;
    border-radius: 100%;
    height: 5rem;
    position: relative;
}
.leftContent__imgWrapper img{
    width: 60%;
}
img{
    width: 20%;

}
/* Header right content */
.nav__rightContent{
    width: 50%;
}
.rightContent__list{
    list-style: none;
}
.nav__list{
    color: white;
    list-style: none;
    height: 3rem;
}
.list__items{
    width: auto;
    height: 1rem;
}
.list__items img{
    position: relative;
    top: -1em;
    width: 60%;
}
a{
    color: white;
    text-decoration: none;
}

/* ----------------------Main--------------------  */
main{
    height: 85vh;
}
.main__wrapper{
    height: 80%;
    width: 90%;
}
/* Main left content */
.section__left{
    background-color: palegoldenrod;
    width: 65%;
}

/* Main right content */
.section__right{
    width: 35%;
    height: 90%;
}
.section__right h1{
    width: 60%;
}
.main__list{
    font-family: 'Book';
    list-style: none;
    height: 30%;
    width: 70%;
    justify-content: space-around;
    align-items: left;
}
.main__list__items{
    justify-content: unset;
    text-align: right;
}
.list__imgWrapper img{
width: 100%;
}
#btnShop{
height: 55px;
width: 300px;
border-radius: 50px;
border: none;
background: #F6D757;
text-align: center;
font-family: 'Book';
font-weight: 800;
cursor: pointer;
}
hr{

position: absolute;
width: 22%;
border: 1px solid #51A8B7;
}
.main__rightParagraph{
    width: 70%;
    font-size:20px;
    font-family: 'Book';
}
/* -------------------------Figures----------------------- */
figure{
    height: 12rem;
    width: 100%;
}
.figure__wrapper{
    width: 70%;
    justify-content: space-between;
}
.figure__wrapper .left__wrapper{
    height: 90%;
    width: 40%;
}
.left__wrapper img{
    width: 100%;
}
.figure__wrapper .right__wrapper{
    height: 100%;
    width: 50%;
}
.--book{
    font-family: 'Book';
}
.--brydan{
    font-family: 'Brydan';
}
.figure--sm{
    height: 8rem;
    width: 100%;
}
/* ---------------------------Sections------------------------- */
section{
    height: 31rem;
    font-family: 'book';
}
.section--sm{
    height: 21rem;
}
.section--bg{
    height: 40rem;
}
.section__wrapper{
    width: 70%;
    height: 80%;
    align-content: unset;
}
.section__wrapper--bigger{
    width: 100%;
    height: 36rem;
}
.section__wrapper .left__wrapper{
    width: 30%;
}
.section__wrapper  .right__wrapper{
    width: 50%;
}
.section__wrapper .right__wrapper .img__wrapper img{
    width: 80%;
}
.section__wrapper h3{
    font-size: 3rem;
}
.section__wrapper p {
    font-size: 1.5rem;
}
/* Componend Section */
/* Left Section */
.h3__wrapper{
    width: 60%;
}
.wrapper--smaller{
    height: 100%;
    width: 50% !important;
}
.paragraph__wrapper{
    height: 100%;
    width: 60%;
}
/* Right Section */
.wrapper--bigger{
    height: 90%;
    width: 50% !important; 
}
.about__wrapper{
    background-attachment: fixed;
}
.h1__wrapper{
    width: 40%;
} 
.wrapper--bigger .img__wrapper{
    height: 20rem;
}
.wrapper--bigger .img__wrapper img{
    width: 75%;
}
.btn__wrapper{
    padding: 1rem;
}
.btn__wrapper label{
    padding: 1rem;
    font-size: .7rem;
}
/* -------------------Cards Section-------------------- */
.section__cards{
    height: 80%;
    width: 90%;
}
.card{
    width: 25%;
    height: 95%;
    border-radius: 10%;
}
.card__wrapper{
    width: 100%;
    height: 100%;
}
.card__center{
    width: 60%;
    text-align: center;
}
/* --------------------Second Figure Section--------------- */
figure .btn--blue #btnShop{
    background-color: #6bd8dd;
}
/* -------------------About Section--------------------- */
.about__wrapper--2{
    width: 60%;
    height: 80%;
}
.about__wrapper--2 .left__wrapper{
    width: 60%;
}
.about__wrapper--2 .left__wrapper .paragraph__wrapper{
    width: 100%;
    height: 13rem;
}
.about__wrapper--2 img{
    width: 90%;
}
.big1 h2{
    position: relative;
    right: 12rem;
}
/* ---------------------Mission Sections----------------- */
.mission{
    height: 40rem;
}
.svg{
    overflow: hidden;
}
.text--centered{
    text-align: center;
    font-size: 1.4em;
}
/* ---------------------- Footer Section ----------------- */
footer{
    height: 15rem;
}
.footer__wrapper{
    height: 15rem;
}
.footer__list{
    margin-top: 3rem;
    height: 20%;
    width: 50%;
    list-style: none;
}
.footer__list a{
    color: #99A7D5;
}
.footer__bottom__wrapper{
    height: 15rem;
    width: 50%;
}
.footer__bottom__wrapper .img__wrapper{
    height: 40%;
    width: 70%;
}
.footer__bottom__wrapper .paragraph__wrapper{
    height: 10%;
    width: 10%;
}