@font-face {
    font-family: 'Brydan';
    src: url(fonts/Bryndan\ Write\ Book.ttf);
}
@font-face {
    font-family: 'Book';
    src: url(fonts/Shuneet3\ Thin\ Regular.ttf);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Brydan';
}
/* Colors */
.blue{ background: #6bd8dd;}
.light-blue{background: #F2FAFF;}
.gold{background: #F6D757;}
.lilac{background: #99A7D5;}
.pink{background: #FAB3AD;}
.green{background: #ABC754}
.white{background: white;}

.--blue{ color: #6bd8dd;}
.--light-blue{color: #F2FAFF;}
.--gold{color: #F6D757;}
.--lilac{color: #99A7D5;}
.--pink{color: #FAB3AD;}
.--green{color: #ABC754;}
.--orange{color: #FFBE76;}
.--dark-blue{color: #0F676E;}
.--white{color: white;}
/* Modifiers */
.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.flex-column--reversed{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}
.flex--reversed{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
/* -------------------Header------------------ */
header{
    width: 100%;
    height: 5rem;
}
.header__nav{
    width: 100%;
    height: 5rem;
}
/* Header left content */
.nav__leftContent{
    width: 45%;
    justify-content: left;
    height: 6rem;
    width: 6rem;
}
.leftContent__imgWrapper{
    background-color: white;
    border-radius: 100%;
    height: 5rem;
    position: relative;
}
.leftContent__imgWrapper img{
    width: 60%;
}
img{
    width: 20%;

}
/* Header right content */
.nav__rightContent{
    width: 50%;
}
.rightContent__list{
    list-style: none;
}
.nav__list{
    color: white;
    list-style: none;
    height: 3rem;
}
.list__items{
    width: auto;
    height: 1rem;
}
.list__items img{
    position: relative;
    top: -1em;
    width: 60%;
}
a{
    color: white;
    text-decoration: none;
}

/* ----------------------Main--------------------  */
main{
    height: 85vh;
}
.main__wrapper{
    height: 80%;
    width: 90%;
}
/* Main left content */
.container__left{
    background-color: palegoldenrod;
    width: 65%;
}
/* .left__wrapper{
    background-color: palevioletred;
} */
/* Main right content */
.container__right{
    width: 35%;
    height: 90%;
}
.container__right h1{
    width: 60%;
}
.main__list{
    font-family: 'Book';
    list-style: none;
    height: 30%;
    width: 70%;
    justify-content: space-around;
    align-items: left;
}
.main__list__items{
    justify-content: unset;
    text-align: right;
}
.list__imgWrapper{
    background-color: red;
}
.list__imgWrapper img{
width: 100%;
}
#btnShop{
height: 55px;
width: 300px;
border-radius: 50px;
border: none;
background: #F6D757;
text-align: center;
font-family: 'Book';
font-weight: 800;
cursor: pointer;
}
hr{

position: absolute;
width: 22%;
border: 1px solid #51A8B7;
}
.main__rightParagraph{
    width: 70%;
    font-size:20px;
    font-family: 'Book';
}
/* -------------------------Figures----------------------- */
figure{
    height: 12rem;
    width: 100%;
}
.figure__wrapper{
    width: 70%;
    justify-content: space-between;
}
.figure__wrapper .left__wrapper{
    height: 90%;
    width: 40%;
}
.left__wrapper img{
    width: 100%;
}
.figure__wrapper .right__wrapper{
    height: 100%;
    width: 50%;
}
.--book{
    font-family: 'Book';
}
.figure--sm{
    height: 8rem;
    width: 100%;
}
/* ---------------------------Sections------------------------- */
section{
    height: 31rem;
    font-family: 'book';
}
.section--sm{
    height: 21rem;
}
section .left__wrapper{
    width: 20%;
    background: hotpink;
}
section .right__wrapper{
    width: 50%;
}
section .right__wrapper .img__wrapper img{
    width: 60%;
}